.loader{
    height: calc(100vh - 50px);
}

.loader-img{
    max-width: 50vw;
    max-height: 50vh;
    animation: spin 1s linear infinite reverse;
}

@keyframes spin {
    25% {
       transform: scale(0.8);
    }
    50%{
        transform: rotate(1.2);
    }
}