.button{
    @apply inline-block w-auto no-underline text-lg text-white bg-purple-700 px-4 py-1 mx-1 rounded-sm hover:bg-purple-900;
}

.author{
    @apply bg-purple-700 text-white text-sm px-3 py-3px rounded-xl;
}

.button:focus{
    outline: 3px solid deeppink;
}

.chatbox:focus, .toast:focus{
    outline-offset: .5em;
    outline-style: dashed;
    outline-color: blueviolet;
    outline-width: 3px;
}

.toast{
    left: 50%;
    transform: translateX(-50%);
}

.toast-content{
    border: 3px solid orange;
}